.logo {
  left: 50%;
  top: 211px;
  width: 245px;
  height: 104px;
  margin: 148px 0 107px;
  object-fit: contain;
}
.form-control.inputs{
  left: 50%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 20px;
  width: 400px;
  height: 50px;
  object-fit: contain;
  border: solid 2px #e1e1e1;
}
.login{
  left: 50%;
  top: 760px;
  width: 400px;
  height: 69px;
  margin: 146px 0 13px;
  object-fit: contain;
}
