.searchCombo {
  justify-content: left;
  display: flex;
  margin: 122px 163px 134px;
}
.form-control{
  margin-right: 1%;
}
.btn.btn-primary.main{
  margin-left: 1%;
  height: 43px;
  width: 15%;
}

.subject{
  margin: 87px 91px 79px 60px;
  object-fit: contain;
  font-family: NotoSansCJKkr;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  color: #0f84f7;
}
body{
  text-align: center;
}
.form-control{
/* margin-left: 1%; */
}
.form-control.input{
  width: 30%;
  height: 43px;

}
.react-datetime-picker{
  box-sizing: border-box;
  width: 30%;
  height: 43px;
}
.react-datetime-picker__inputGroup{
  font-size: 14px;
  width: 400px;
}
input{
  height: 100%;
  width: 100%;
}
